<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingsday Blog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Koningsdag Blog 🇳🇱👑</h1>
        <p class="blog-description">Welkom bij deze gezellige chit chat! Deel hier hoe jij Koningsdag viert of gaat vieren. Laat weten wat jouw plannen zijn, deel je ervaringen, herinneringen, tips en natuurlijk emoji’s! Samen maken we er een onvergetelijke Koningsdag van in Nederland. 🇳🇱👑🧡</p>
        <a href="https://tikkie.me/pay/fkd77ohq1epjbk5pev3t" target="_blank" class="tikkie-support">
            💸 Steun deze blog via Tikkie! Klik hier om een kleine bijdrage te doen 🧡
        </a>
        <div id="countdown-container">
            <div id="countdown"></div>
            <div id="progress-bar-bg">
                <div id="progress-bar"></div>
            </div>
        </div>
        <form id="postForm">
            <input type="text" id="text" maxlength="240" placeholder="Deel je gedachten of emoji's... 🧡" autocomplete="off" required>
            <button type="submit">Delen</button>
        </form>
        <div id="posts"></div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
